# Domain
# This would be set to the production domain with an env var on deployment
# used by Traefik to transmit traffic and acquire TLS certificates
DOMAIN=localhost
# To test the local Traefik config
# DOMAIN=localhost.tiangolo.com
API_HOST=api.localhost
FRONTEND_HOSTNAME=dashboard.localhost
ADMINER_HOST=adminer.localhost
API_REDIRECT_HOST=
FRONTEND_REDIRECT_HOST=

# Used by the backend for Steam login callbacks and redirects to the frontend
FRONTEND_HOST=http://localhost:5173
# Used by OAuth flows that must redirect back to the backend
BACKEND_PUBLIC_URL=http://localhost:8000
# In staging and production, set this env var to the frontend host, e.g.
# FRONTEND_HOST=https://example.com

# Environment: local, staging, production
ENVIRONMENT=local

PROJECT_NAME="GOKZ.TOP"
STACK_NAME=gokz-top-v2

# Backend
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:5173,http://localhost.tiangolo.com"
SECRET_KEY=change-me
SUPER_USER_STEAMID64=76561198000000000
STEAM_API_KEY=change-me

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

SENTRY_DSN=

# MaxMind GeoIP
GEOIP_DATA_DIR=./.geoip
GEOIP_CITY_DB_PATH=../.geoip/GeoLite2-City.mmdb

GEOIPUPDATE_ACCOUNT_ID=change-me
GEOIPUPDATE_LICENSE_KEY=change-me
GEOIPUPDATE_EDITION_IDS=GeoLite2-City
GEOIPUPDATE_FREQUENCY=24

# Configure these with your own Docker registry images
DOCKER_IMAGE_BACKEND=backend
DOCKER_IMAGE_FRONTEND=frontend

TWITCH_CLIENT_ID=change-me
TWITCH_CLIENT_SECRET=change-me
