.vscode/*
!.vscode/extensions.json
.env
node_modules/
/.temp/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.playwright-mcp/
/.geoip/
/.jump-replays/
/.replays/
.idea/
.DS_Store
.obisidian/
